* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  width: 320px;
  height: 849px;
}

.info-container {
  background-image: url("assets/iphone_mockup.png");
  background-color: #013243;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  text-align: center;

  box-shadow: 0 1px 2px #c5c5c5;
}

.info-container .title {
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;

  margin-top: 32px;
}

.info-container .subtitle {
  font-weight: 300px;
  font-size: 14px;
  opacity: 0.8;
  color: #86bfd3;

  margin-top: 8px;
}

.form-wrapper {
  background: #fff;

  padding: 40px 40px 0;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.form-wrapper form .title {
  font-weight: 800;
  font-size: 28px;
  line-height: 28px;
}

.form-wrapper form .field-wrapper {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.form-wrapper form .field-wrapper label {
  font-weight: 600;
  font-size: 14px;
}

.form-wrapper form .field-wrapper input {
  line-height: 40px;

  border: #bcbcbc 1.75px solid;
  border-radius: 4px;

  padding: 0 10px;
}

.form-wrapper form .agreement-wrapper {
  display: flex;

  font-weight: 500;
  font-size: 16px;

  gap: 10px;
}
.form-wrapper form .agreement-wrapper span a {
  font-weight: 900;
  line-height: 16px;
  color: #013243;
}

.form-wrapper form button {
  background-color: #013243;

  font-size: 16px;
  line-height: 46px;
  color: #fff;

  border: none;
  border-radius: 4px;
}

.form-wrapper form button:hover {
  cursor: pointer;
  background-color: #86bfd3;
}

@media (min-width: 321px) {
  .form-wrapper {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

@media (min-width: 769px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;

    width: 749px;
    max-height: 480px;
  }

  .container {
    box-shadow: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: none;
  }

  .form-wrapper {
    border: #c5c5c5 1px solid;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

    padding: 40px 60px 0;
  }

  .form-wrapper form {
    gap: 36px;
  }
}
